.titulo{
    
     width: 656%;
    height: 11111vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.producto {
    
    
     width: 0%;
    height: 8912vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.titulo {
    
     background-position: center;
}


